$generic-text-color: #787878;

html, body {
  overflow: hidden;
  scrollbar-width: none; /* Para Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari e outros navegadores baseados em WebKit */
}

body{
    font-family: "Nunito", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: $generic-text-color;
  }
  
.text--primary{
    color: $generic-text-color;
    
}
a{
  text-decoration: none;
  color: $generic-text-color;
  font-weight: 300;
}

.h1-landing-page{
  font-size: 68px;
  background: linear-gradient(
    300deg,
    rgb(0, 191, 143),
    rgb(117, 89, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

  font-family: "Arial", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
}

.v-card--variant-elevated {
  color: $generic-text-color !important;
}
.v-list-item-title{
  color: $generic-text-color;
}
.v-app-bar.v-toolbar {
  color: $generic-text-color !important;
}

// Fade system
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to {
opacity: 1;
}
.fade-leave-to {
opacity: 0;
}

.cl-internal-16vtwdp, .cl-internal-lk7758{
  display: none;
}

.btn-gradient {
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
    linear-gradient(300deg, rgb(0, 191, 143), rgb(117, 89, 255)) border-box !important;
  border: 2px solid transparent !important;
}