$generic-text-color: #787878;

body{
    font-family: "Nunito", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: $generic-text-color;
  }
  
.text--primary{
    color: $generic-text-color;
    
}
a{
  text-decoration: none;
  color: $generic-text-color;
  font-weight: 300;
}

.v-card--variant-elevated {
  color: $generic-text-color !important;
}
.v-list-item-title{
  color: $generic-text-color;
}
.v-app-bar.v-toolbar {
  color: $generic-text-color !important;
}

// Fade system
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to {
opacity: 1;
}
.fade-leave-to {
opacity: 0;
}